[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pipenv = "==2023.2.4"
pipreqs = "==0.4.11"
pygame = "==2.1.3"
virtualenv = "==20.16.6"


[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.12"
